# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - chatbotguntner

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: sampleappaoaichatgpt.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_9D993393D01942A384CD4AA38B6346AE }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_B2E73E9E60E3471B947D942DFBC388EF }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: sampleappaoaichatgpt.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_9D993393D01942A384CD4AA38B6346AE }}/sample-app-aoai-chatgpt:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_3007E7F0794A4B0EA44EF5568233CC5B }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_26DB580F0960484B89BE616B0B4B6C26 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_169FB4704ACC4524B6F17A96C607C548 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'chatbotguntner'
          slot-name: 'raymon'
          images: 'sampleappaoaichatgpt.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_9D993393D01942A384CD4AA38B6346AE }}/sample-app-aoai-chatgpt:${{ github.sha }}'
          